<h3>E-commerce</h3>

<!-- <app-home></app-home>
<app-to-do></app-to-do> -->

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/todo" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}">ToDo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/addProduct" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}">Add Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}">Contact</a>
  </li>
</ul>

<router-outlet></router-outlet>
<footer>4SAE1</footer>