<div>
    <h1>{{title}}</h1>
    <button class="btn btn-dark" 
    (click)="getStat()"> Get Stat </button> 
    <h2>{{nb}}</h2>

    <form>
    <input class="form-control" type="number" name="nbMax"
     [(ngModel)]="nombreMax">
</form></div>

<div class="row">
    <div class="col-md-4"  *ngFor="let product of productList , let i = index ">
<div *ngIf="nombreMax>=product.price || nombreMax == null">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Title :{{product.title}}</h5>
              <p class="card-text">Price :{{product.price}}</p>
              <p class="card-text">Quantity :{{product.quantity}}</p>
              <button (click)="IncrementLike(i)" class="btn btn-primary">{{product.like }} Like</button>
              <a href="#" >Details</a>
            </div>
          </div>
        </div>
    </div>
</div>



<!-- <table class="table">
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>  
        <th>Quantity</th>
        <th>Like</th>
    </thead>
    
    <tbody *ngFor="let product of productList 
    , let i = index">
        <tr *ngIf="nombreMax>=product.price || nombreMax == null">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.like}}
                <button (click)="IncrementLike(i)" class="btn btn-primary">Like</button>
            </td>
            <td> 
                <button class="btn btn-danger" (click)="buyProduct(product)"
                [disabled] = "product.quantity == 0">
                    Buy</button></td>
        </tr>
    </tbody>
</table>  -->